/* feuille de style pour la page de boutique  */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#conteneur {
    border: 1px solid gray;
    width: 1000px;
    margin: 0 auto;
    /* background : url(../img/fond.png) no-repeat; */
    box-shadow: 0 1px 0 rgba(126, 122, 122, 0.4);

}

header {
    padding: 10px;
    height: 100px;

}

h1 {
    font-size: 2em;
    font-style: italic;
}

header h3 {
    color: #ff99cc;
}


.logo {
    float: left;
    margin-right: 15px;
}

.header {
    width: 300px;
    float: left;
}


nav {
    background-color: #33ccff;
}
nav a {
    display: inline-block;
    width: 160px;
    text-decoration: none;
    color: white;
    

}

.active {
    background: #ff99cc ;
}

.section02 {
    height:300px;
}

p {
    font-size: 0.8em;
}

.paiement {
    width: 300px;
    float: left;
}

.service {
    width: 200px;
    float: left;
}

.presentation {
    width: 500px;
    float: left;
}

h3 {
    font-size: 1.4;
    color: #33ccff ;
}

.bonPlan, .coeur, .objectif {

    width:300px ;
    height: 100px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5% 5% 5% 5%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4); 
    float: left;
}
.bonPlan {
    
}

footer {
    background-color: #33ccff;
    height: 30px;
}




/* 
a#conteneur {
    background-color: #ff99cc;
} */


.clear {
    
    clear: both;
}
