/* feuille de style pour la page de boutique  */

/* style pour body   */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: url(../img/fond.png);
}

/* style pour le conteneur  */
#conteneur {
    background-color: white;
    border: 1px solid gray;
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 1px 0 rgba(126, 122, 122, 0.4);

}

/* style pour l'en-tête de la page  */
header {
    padding: 10px;
    height: 70px;

}

.logo {
    float: left;
    margin-right: 15px;
}


.header1 {
    height: 70px;
    width: 350px;
    float: left;
}

.header2, .header3 {
    height: 70px;
    width: 250px;
    float: left;

}

.header3 {
    position: relative;
    left: 94px ;
    bottom: 10px;
}

/* .header2 {
    background: url(../img/aide.png) no-repeat;
    background-position:  bottom 20%;
} */


h1 {
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

header h3 {
    color: #ff99cc;
    font-size: 0.8em;
    font-style: italic;
    
}

h2 {
    color: #33ccff ;
    font-size: 1.3em;
    margin-bottom: 5px;
}

img[src="img/aide.png"] {
    z-index: 1;
}

img[src="img/aide.png"]+p {
    color:#33ccff ;
    z-index: 2;
    position: relative;
    left: 40px;
    bottom: 20px;
}
 
.header2 p+p {
    font-size: 0.8em;
    font-style: italic;
    color: rgb(156, 154, 154);
}


.header3 a {
    display: block;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
}

a.monCompte {
    background-color: #33ccff; 
    height: 20px;
    margin-bottom: 2px;
    line-height: 20px;
}

a.article {
    background: url(../img/article.png) no-repeat;
    background-color: #33ccff;   
    background-position: left;
    background-size: 20%;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}

nav {
    background-color: #33ccff;
}

nav a {
    display: inline-block;
    width: 160px;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 20px;
}

.active {
    background: #ff99cc ;
}


.section02 {
    height:150px;
}

.paiement {
    width: 250px;
    float: left;
    border-right: 1px solid rgb(175, 173, 173);
}

.service {
    width: 200px;
    float: left;
    

}

.presentation {
    width: 500px;
    float: left;
    border-right: 1px solid rgb(165, 163, 163);
}

.livraison, .echange {
    display: flex ;
    justify-content: space-around;
   
}


.section02 p {
    margin-top: 15px;
    margin-bottom: 20px;
}


.paiement, .service, .presentation {
    box-sizing: border-box;
    padding: 10px;

}

h3 {
    font-size: 1.4;
    color: #33ccff ;
    font-weight: 600;
    margin: 5px ;
}

main p {
    font-size: 0.8em;
}


.section03 h3 {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    color: black;
    background-color: rgb(199, 198, 198);
}



.bonPlan, .coeur, .objectif {
    text-align: center;
    width:300px ;
    height: 150px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4); 
    float: left;
    
}


.bonPlan {
    background: url(../img/robe.png) no-repeat;
    background-position: left bottom 20%;

}

.coeur {
    background: url(../img/talons.png) no-repeat;
    background-size: 22%;
    background-position: left 5% bottom 45%;

}

.objectif {
    background: url(../img/chemise.png) no-repeat;
    background-size: 22%;
    background-position: left 5% bottom 45%;

}

.bloc {
    position: relative;
    left: 70px;
    height: 100px;
    width: 200px;
    margin: 10px;
}
.bloc p {
    text-align: justify;
}

.section03 a {
    color: #33ccff;
    
    
}

.section03 a  p {
    color: #33ccff;
    text-align: right;   
}


footer {
    background-color: #33ccff;
    height: 30px;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 5px;
}

 footer ul li a {
    color: white;
    font-size: 0.8em;
    text-decoration: none; 
}
/* 
a#conteneur {
    background-color: #ff99cc;
} */


.clear {
    
    clear: both;
}
